*{
    margin:0;padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    width:100%;height:auto;
    font-family:Helvetica;
    font-size:0.5rem;
    color:#333;
}
body{
    background:#F9F9F9 ;
}
a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color:#333;
}
img {
    border: 0;
    vertical-align: middle;
}
header{
    position: fixed;
    left:0;
    width: 100%;
    height: 1.8rem;
    background:#fff;
    top:0;
    border-bottom: 1px solid #ccc;
    z-index: 999;
    padding: 0.8rem 24px  0.2rem 24px;
}
footer{
    position: fixed;
    left:0;
    width: 100%;
    height: 1.8rem;
    background:#fff;
    border-top: 1px solid #ccc;
    padding:0.2rem 0;
    bottom: 0;
}
.iconfont{
    font-family: 'myicon';
}
@font-face {
    font-family: 'myicon';  /* project id："182487" */
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
footer .item{
    width:20%;
    height: 100%;
    float: left;
}
footer .item span{
    display: block;
    width: 100%;
    height:30%;
    color:#929292;
    float: left;
    text-align: center;
}
footer .item .item_icon{
    height:70%;
    font-size: 0.3rem;
    line-height:1.4rem;
}
footer .item .cc{
    font-size:0.7rem;
    line-height:1.2rem;
}
footer .item  .item_word{
    font-size:0.3rem;
}
.icon-zhai:before{
    content:"\e625";
}
.icon-channel:before{
    content:"\e6a0";
}
.icon-wen:before{
    content:"\e619";
}
.nav{
    width:50%;
    height:0.8rem ;
    border-radius:5px;
    border: 1px solid #007AFC;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
}
.nav .item{
    display: block;
    border-right:1px solid #007AFC;
    float:left;
    width: 33.33%;
    height:100%;
    text-align: center;
}
.nav span{
  font-size:0.3rem;
    line-height: 0.8rem;
  color:#007AFC;
}
.nav .item:nth-child(3){
    border-right:none;
}
.nav .active{
    background:#007AFC;
}
.nav .active span{
    color:#fff;
}
.search span{
     line-height:0.8rem;
    font-size: 0.6rem;
    float:right;
}
.container{
    width: 100%;
    position: absolute;
    left: 0;
    top:1.8rem;
}
.container .title{
    font-size: 0.4rem;
    color:#000;
    font-weight: bold;
    margin-top: 10px;
    padding:0 16px;
}
.container .item{
    width: 100%;
    background:#fff;
    overflow: hidden;
}
.container   .item_list{
    display:block;
    width:25%;
    float: left;
    padding:0.2rem 0;

}
.container   .item_list .item_img{
    display:block;
    width:1.2rem;
    height:1.2rem;
    border-radius:50% ;
    position: relative;
    border: 1px solid #ccc;
    margin: 0 auto;
    overflow: hidden;
    padding:0.1rem ;
}
.container   .item_list .item_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/*.container   .item_list .item_img:before{*/
    /*content:"";*/
    /*width:1.1rem;*/
    /*height:1.1rem;*/
    /*border-radius:50% ;*/
    /*position: absolute;*/
    /*left:0;*/
    /*right: 0;*/
    /*top:0;*/
    /*bottom:0;*/
    /*margin:auto;*/
    /*background:pink;*/
/*}*/
.container   .item_list .item_word{
    width:100%;
    font-size:0.2rem;
    display:block;
    color :#444;
   text-align: center;
}
footer  .mui-active span{
    color:#4194E8;
}

