<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1><%=shows[0].atitle%></h1>
    <p>
        <%=shows[0].acon%>
    </p>
</body>
</html>