body,html,input,li,ul,h1,h2,h3,span,p{
	margin:0;
	padding: 0;
	list-style: none;
	font-weight:normal;
}
body,html{
	width:100%;
	height:100%;
}
@font-face {
	font-family: 'myicon';  /* project id："182487" */
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
	url('../font/iconfont.woff') format('woff'),
	url('../font/iconfont.ttf') format('truetype'),
	url('../font/iconfont.svg#iconfont') format('svg');
}
a{
	text-decoration: none;
}
*{
	box-sizing:border-box;
}
img{
	border:0;
}
.banner{
	width:100%;
	height: 100%;
	background: url("../img/overlay.png"), url("../img/intro.jpg");
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;
	z-index:99;
	position: relative;
	overflow: hidden;
}
.header{
	padding:30px 0;
	width: 1000px;
	margin: 0 auto;
	line-height:60px;
}
.header h1{
	color: #fff;
    font-size: 3em;
    font-weight: 600;
    float: left;
	-webkit-animation: fadeInUp 300ms linear 300ms both;
	-moz-animation: fadeInUp 300ms linear 300ms both;
	-o-animation: fadeInUp 300ms linear 300ms both;
	-ms-animation: fadeInUp 300ms linear 300ms both;
	animation: fadeInUp 300ms linear 300ms both;
}
.header .menue{
	float: right; 
	line-height: 20px;
    margin-top:25px;
	-webkit-animation: fadeInUp 300ms linear 600ms both;
	-moz-animation: fadeInUp 300ms linear 600ms both;
	-o-animation: fadeInUp 300ms linear 600ms both;
	-ms-animation: fadeInUp 300ms linear 600ms both;
	animation: fadeInUp 300ms linear 600ms both;
}
.header .menue li{
	margin: 0 20px;
	font-size: 20px;
	color:#fff;
	float: left;
	cursor: pointer;
	transition:all .5s ease-out;
}
.header .menue li:hover{
	color:#7692E5; 
}
.wel{
   width:50%;
   margin: 0 auto;
   margin-top:200px;
  
}
.wel h2,.wel p{
   color:#fff;
   text-align: center;
}
.wel h2{
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size: 3.5em;
    font-family: 'Open Sans', sans-serif;
	-webkit-animation: fadeInUp 300ms linear 900ms both;
	-moz-animation: fadeInUp 300ms linear 900ms both;
	-o-animation: fadeInUp 300ms linear 900ms both;
	-ms-animation: fadeInUp 300ms linear 900ms both;
	animation: fadeInUp 300ms linear 900ms both;
}

.wel p{
    font-size: 18px;
    height: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 29px;
	-webkit-animation: fadeInUp 300ms linear 1200ms both;
	-moz-animation: fadeInUp 300ms linear 1200ms both;
	-o-animation: fadeInUp 300ms linear 1200ms both;
	-ms-animation: fadeInUp 300ms linear 1200ms both;
	animation: fadeInUp 300ms linear 1200ms both;
}

.scroll{
	background: url(../img/downarrow.png);
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left:0;
    right: 0;
    margin: 0 auto;
    bottom:20px;
    cursor: pointer;
	-webkit-animation: fadeInDown 300ms linear 1500ms both;
	-moz-animation: fadeInDown 300ms linear 1500ms both;
	-o-animation: fadeInDown 300ms linear 1500ms both;
	-ms-animation: fadeInDown 300ms linear 1500ms both;
	animation: fadeInDown 300ms linear 1500ms both;
}
.about{
	width: 100%;
}
.about .content,.skills .content{
	/*width:1200px;*/
    margin: 0 auto;
	height:620px;
}
.about .content h3,.skills .content h3,.experence .content h3,.contact .content h3{
    padding-top:3em;
	padding-bottom: 10px;
	color: #292929;
	border-bottom: 3.5px solid #E1E1E1;
	width: 130px;
	margin: 0 auto;
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #292929;
	text-align: center;
}
.about .content .warp{
	width: 100%;
	padding-top: 50px;

}
.about .content .warp li{
	width:25%;
	height:400px;
	float:left;
	position: relative;
}
.about .content .warp li .img_box{
	width:250px;
	height:50%;
    overflow: hidden;
	transition:all 0.5s ease;
	opacity: 1;
	margin: 0 auto;
}
.about .content .warp li .img_box:hover{
	opacity: 0.8;
}

.about .content .warp li .word{
	width:220px;
	height:50%;
	margin: 0 auto;

	text-align: center;
}

.skills{
	width: 100%;
}
.skills .content{
	width: 1200px;
}
.skills .contentwarp{
	padding-top: 50px;
	width: 100%;
	height:70%;
}
.skills .content_left{
	width:65%;
	height:100%;
	float: left;
}
.skills .content_left .focusl{
	position: relative;
	float: left;
	width:200px;
	height:100%;
}
.skills .content_left .focusl ul{
	position: relative;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 2;
	background: url(../img/ji.jpg);
	background-size: 100% 100%;
}
.skills .content_left .focusl ul li{
   width:100%;
	height: 25%;
	border-bottom: 1px solid #E1E1E1;
	float: left;
	background: rgba(0,0,0,.6);
	text-align: center;
	position: relative;
}
.skills .content_left .focusl ul li span{
	display: block;
    margin-top:15px;
	font-size: 18px;
	color:#fff;
}
.skills .content_left .focusl ul li a{
	display:block;
	width:80px;
	height:30px;
	color:#fff;
	border: 2px solid #fff;
	border-radius: 5px;
	-webkit-radius:5px;
	font-size: 14px;
	font-family:'Open Sans', sans-serif ;
	line-height:25px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
   bottom:15px;
	transition: all 0.5s ease;
}
.skills .content_left .focusl ul li a:hover{
	background:rgba(255,255,0,0.2) ;
}
.skills .content_left .focusl .back{
	position: absolute;
	width:10%;
	height:25%;
	border-bottom: 1px solid #fff;
	background:rgb(210, 200, 231);
	opacity: 0.3;
	top: 0px;
	right:-10%;
	z-index:999;
}
.skills .content_left .focusm{
	float: left;
	width: 580px;
	height:100%;
    background:#F4F4F4;
	overflow: hidden;
	padding: 20px 50px 0 50px;
}
.skills .content_left .focusm ul{
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
}
.skills .content_left .focusm ul li{
	width: 100%;
	height: 100%;
}
.skills .content_left .focusm ul li .group_1_img {
	width: 350px;
	margin: 0 auto;
    line-height: 208px;
    position: relative;
}
.skills .content_left .focusm ul li .group_1_img .font{
	height:208px;
	width: 208px;	 
    color: #fff;
    float: left;
    font-size: 2.8em;
    font-weight: 900;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    text-align: center;
    text-shadow: 0px 0px 2px #fff;
}
.skills .content_left .focusm ul li .group_1_img .jishu{
    background: rgba(230, 231, 231, 0.56);
    float: left;
    font-size: 2.3em;
    font-weight: 900;
    border-radius: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;   
    margin-left: -58px;
    height:208px;
	width: 208px;
	text-align: center;
	position:absolute;
	top: 0;  
}
.group_1_word{
	float: left;
	margin-top:20px;
}
.skills .content_left .focusm ul li .group_1_word{
	color: #666;
	font-size: 1em;
	line-height: 1.9em;
}
.skills .content_right{
	width:35%;
	height:100%;
	background:yellow;
	float: right;
	background: url(../img/shu.jpg);
    background-size: 100% 100%;
}
.skills .content_right .mask{
	width: 100%;
	height: 100%;
	background:rgba(0,0, 0,0.7);
}
.skills .content_right .mask .con{
	width:350px;
	height:380px;
	padding-top:10px;
	margin: 0 auto;
}
.skills .content_right .mask .con li{
	width: 100%;
	height:20%;
    float: left;
}
.skills .content_right .mask .con li .con_con{
	height: 100%;
	margin: 0 auto;
}
.skills .content_right .mask .con li .con_con li{
	height: 100%;
	width:57px; 
	float: left;
	position: relative;
}
.skills .content_right .mask .con .word{
   position: absolute;
   left: 0;
   top:0;
   right: 0;
   bottom: 0;
   margin:auto;
   line-height:58px;
	text-align: center;

}
.skills .content_right .mask .con .word span{
	color:#fff;
	font-size:14px;
	text-align: center;
}
 .background{
	width: 100%;
	height:200px;
	background:url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.background .backz{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
}
.experence{
	width: 100%;
}
.experence .content{
	width:1200px;
	margin: 0 auto;
}
.experence .content .project{
	width: 100%;
	margin: 50px 0;
	height: 525px;
}
.experence .content .project li{
	float: right;
	width:250px;
	height: 250px;
	border-radius: 50%;
	-webkit-border-radius:50%;
	margin: 0 25px 25px 25px;
    position: relative;
   z-index: 999;
   
}
.experence .content .project li .picture{
	box-sizing:border-box;
	width:250px;
	height: 250px;
	float: left;
    border-radius: 50%;
	-webkit-border-radius:50%;
	position: absolute;
	left: 0;
	top:0;

}
.experence .content .project li .img{
   width: 100%;
   height: 100%;
   z-index:999;
   -webkit-transition: all 0.35s ease-in-out;
   transition: all 0.35s ease-in-out;
   position: relative;
   border-radius: 50%;
	-webkit-border-radius:50%;
  -webkit-transform-origin: 5% 40%;
  -moz-transform-origin: 5% 40%;
  -ms-transform-origin: 5% 40%;
  -o-transform-origin: 5% 40%;
  transform-origin: 5% 40%;
    overflow: hidden;
}
.experence .content .project li .img img{
    border-radius: 50%;
	-webkit-border-radius:50%;	
}
.experence .content .project li .img:before{
	position: absolute;
	display: block;
	content:"";
	width: 100%;
	height: 100%;
    box-sizing:border-box; 
	border-radius: 50%;
	-webkit-border-radius:50%;
	overflow: hidden;
	box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;

}
 .experence .content .project li .img:after{
	content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
	-webkit-border-radius:50%;
    top: 40%;
    left: 5%;
    margin: -4px 0 0 -4px;
    background: rgba(0, 0, 0, 0.7);
    box-sizing:border-box;
	border-radius:50%; 
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
    overflow: hidden;

}
.experence .content .project  li .info{
	background: #333333;
	opacity: 0.8;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 250px;
    height:250px;
	border-radius: 50%;
	-webkit-border-radius:50%;
    box-sizing: border-box;
    overflow: hidden;

}
.experence .content .project  .info h3{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    box-sizing: border-box;
    font-family: font-family: "Lustria", Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 24px;
    border-bottom: 0;
}
.experence .content .project  .info p{
	 padding: 10px 5px;
	font-family: '微软雅黑';
    margin: 0 30px;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    color:#fff;
}
.experence .content .project  .info p:hover{
	color:#3879D9; 
}
.experence .content .project  li:hover .img{
 -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.contact{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-image: url("../img/overlay.png"), url("../img/promo.jpg");
	background-size: 192px 192px, cover;
	background-position: top left, center center;
	color: #fff;
	text-align: center;
	/*padding: 6em 0 6em 0;*/
}
.contact .content{
	width:1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.contact .content .adress{
	width: 700px;
	height:500px;
	position: relative;
	left:0;
	right:0;
	margin:0 auto;
	top:50px;
}
.contact .content .adress li{
	width:348px;
	height:248px;
	float: left;
	background: rgba(255, 255, 255, 0.05);
	border: solid 1px rgba(255, 255, 255, 0.25);
	border-radius: 0.5em;
	position: relative;
}
.iconfont{
	font-family: "myicon";
	position: absolute;
	width:120px ;
	height:120px;
	left:0;
	right:0;
	margin: 0 auto;
	top:30px;
	background: #pink;
	font-size:100px;
}
.dizhi:before{
	content:"\e642";
}
.dianhua:before{
	content:"\e600";
}
.youxiang:before{
	content:"\e607";
}
.weixin:before{
	content:"\e60d";
	font-size:90px ;
}
.contact .content p{
  text-align: center;
	color:#fff;
	font-family: "微软雅黑";
	font-size: 20px;
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:50px;
}
.backtop{
	position: fixed;
    bottom: 14px;
    right:20px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-indent: 100%;
    background: url(../img/top.png) center no-repeat;
}
.fix_nav{
	width: 20px;
	height:150px ;
	position: fixed;
	top: 0;
	bottom: 0;
	margin:auto 0;
	right: 5px;
}
.fix_nav li{
	width:12px;
	height:12px;
	margin:12px 0 ;
	border: 1px solid #000;
	border-radius: 50%;
	position: relative;
	cursor: pointer;

}
.fix_nav li span{
	display: block;
	width:100px;
	height: 100%;
	position: absolute;
	right:13px;
	top:0;
	text-align:right;
	display: none;
	line-height: 15px;
}
.fix_nav li:hover span{
	display: block;
}
.fix_nav .active{
	width:13px;
	height:13px;
	background: #000;
	border: 0;
}